.operation__flex{
  display: flex;
}

.operationHistory__container{
  flex-basis: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 145px);
}

.operationHistory__element{
  position: relative;
  margin: 30px 0;
  font-size: 1.2em;
}

.operationHistory__row{
  display: flex;
}

.operationHistory__category{
  text-align: center;
  width: 30%;
  margin: 0;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
  background-color: #7f9eb2;
}

.operationHistory__comment{
  text-align: center;
  width: 60%;
  margin: 0;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
  background-color: #77919d;
}

.operationHistory__amount{
  text-align: center;
  width: 20%;
  margin: 0;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #dae9f4;
}

.operationHistory__date{
  text-align: center;
  width: 20%;
  margin: 0;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
  background-color: #274c5e;
}

.operationHistory__settings{
  position: absolute;
  right: 20%;
  top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("../../images/trash_icon.png");
  background-size: cover;
}